.imagen {
  width: 190px;
  height: 110px;
    margin: 20px 0;

}

.container{

  background-image: url('../Image/pexels-josh-sorenson-977603.jpg');
  background-repeat: no-repeat;
  background-position: center center;

  background-size: cover;
  height: 100%;  
  width: 100%;
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;
    border: none;
}
.main{
  flex-direction: column;
  overflow: hidden;
  align-items: center;
  border:  1px solid rgb(255, 255, 255); 
  background-color: #d7dcd9;
  display:flex;
  color: rgb(0, 0, 0);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  position: absolute;
  /* transform: translate(-50%, -50%); */
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50%;
  height: 60%;
  width: 25%;

  /* justify-content: center ; */

}



.cardTitleCont{

  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  font-weight: 450;
  color: aliceblue;
  height: 50px;
  width: 100%;
  text-align: center;
  margin-top: 10px;
  justify-content: center;
    
  }

/* 

  .name{
    font-size: 1.2em;
    background-color: #539d72;
    background-attachment: fixed ;
    color: rgb(0, 0, 0);
    width: 200%;
    text-align: center;
    padding: 5px 0;
    height: 7%;

  } */

  .name {
    font-size: 1.2em;
    background-color: #539d72;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 5px 0;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%; /* El fondo del nombre ocupará toda la tarjeta */
    height: 7%;
  }
  