.imagen {
  width: 160px;
  height: 90px;
  margin-bottom: -1rem;


}

.container{

  background-image: url('../Image/pexels-josh-sorenson-977603.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: 100%;  
  width: 100%;
    position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: hidden;



    
}



.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid rgb(255, 255, 255); 
  background-color: rgb(235, 232, 232);
  color: rgb(0, 0, 0);
  text-align: center;
  border-radius: 10px;
  padding: 0;
  position: absolute;
  transform: translate(-50%, -50%);
  margin: 0px;
  top: 50%;
  left: 50%;
  right: 0;
  width: 25%;
  height: 82%;


}


  .name {
    font-size: 1.2em;
    background-color: #539d72;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 6px 0;
    bottom: 0;
    left: 0;
    width:800px;
    height: 6%;
  }
  
  .p{
    color: rgb(0, 0, 0);
    font-family: Arial, Helvetica, sans-serif;
  }


  .text{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    margin-bottom: -1rem;
  }