.container{
    background-image: url('../Image/pexels-josh-sorenson-977603.jpg');

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;  
    width: 100%;
    top:0;
    left: 0;
    position: fixed;

}


.divFilters {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    margin-top: 2vh;
    
}

.selectStyle {
    background-color:  #f7ffff;
    text-align: center;
    height: 3.5vh;
    width: 15vw;
    margin: 0 0.25em;
    border-radius: 1em;
}
/* .selFilters:hover{
    cursor: pointer;
    background-color: rgba(198, 71, 48, 0.853);
    color: #fff;
} */
