

  .container {
    width: 280px;
    height: 290px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    background-color: rgba(247, 246, 246, 0.942);
    overflow: hidden;
    margin: 1.2% 1.5% 0 1%; 
    text-align: center;
    transition: all 0.25s;
    /* background: rgba(106, 199, 207, 0.941); */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    margin-left: 0.8rem;

}

  
  .container:hover {
    /* background-color:rgba(194, 239, 243, 0.941); */
    transform: scale(1.05);
  }
/*   
  .closeButton {
    border: 0px;
    background-color: greenyellow;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
  }
   */
  .imageContainer {
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
  }
  
  .image {
    width: 110px;
    height: 110px;
    object-fit: cover; 
    border-radius: 50%;
    border: 2px solid #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }
  
  .name {
    font-size: 1.2em;
    background-color: #539d72;
    color: azure;
    width: 100%;
    text-align: center;
    padding: 5px 0;
    margin-top: -9px;
  }
  

 
.continents{
    color: black;
}