
/* .mainContainer { */

		/* background-image: url('../Image/massimiliano-reginato-NgnxWU1r9To-unsplash.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-attachment: fixed;
		background-size: cover; */
		/* height: 100%;  
		width: 100%;
		top:0;
		left: 0;
		position: fixed;
	
	} */



body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

	.mainContainer {
	position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
 
	}
	

	.video{
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}

	
.contenedorBotones {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
}

.button {
	position: relative;
	padding: 1em 2em;
	margin-top: .7em;
	background-color: #d83863;
	font-family: 'PT Sans', sans-serif;
	font-size: 1em;
	font-weight: 700;
	text-transform: uppercase;
	border-radius: 0.5em;
	color: var(--primario);
	background-color: transparent;
	border: 2px solid var(--botones);
	z-index: 0;
	cursor: pointer;
	overflow: hidden;
}

