.button{
    padding: 15px 15px; 
    font-size: 30px; 
    background-color: rgb(158, 224, 236);
    color: #000000; 
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 5px;
    justify-content: center;
    border-radius: 15px;
    border: 2px solid black;
    margin-top: 16cm;

}

.button:hover {
    background-color: rgb(160, 207, 216);
}

.landing{
    width: 100vw;
    height: 100vh;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
 
background-image:url("/Users/florvysin/Downloads/COUNTRIES ORIGINAL/client/src/Components/Image/Diseño sin título (2).png");   
/* // copiar ruta de acceso */
background-position: center center;

  }