.container{
  background-image: url('../Image/pexels-josh-sorenson-977603.jpg');

    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    height: 100%;  
    width: 100%;
    top:0;
    left: 0;
    position: fixed;

     

}
.main:hover{
animation:shadow-drop-center 0.6s linear both;box-shadow:0 0 0 0 transparent;
  box-shadow:0 0 20px 0 rgba(255,255,255,.55)
}

.text{

    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-bottom: -1px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  .text2{

    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;

  }
  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border: 2px solid #fff;
    /* background: rgba(0, 0, 0, 0.5); */
    border-radius: 5%;
    width: 350px;
    height: 220px;
    background-color: rgba(255, 255, 255, 0.8);
    align-items: center;
    display:flex;


   

    

  

    
  }