

        .container {
            height: 70px;
            background: rgba(0, 0, 0, 0.5);
            border-bottom: 2px solid #fff;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 0 20px; 
            margin-right: 50px;
          }
          
          .searchContainer {
            display: flex;
            align-items: center;
          }
          
          .searchForm {
            display: flex;
            align-items: center;
          }
          
          .search {
            width: 350px; 
            height: 30px;
            border: none;
            outline: none;
            background: #f2f2f2;
            border-radius: 30px;
            font-size: 14px;
            text-align: center;
            margin-right: 8px; 
          }
          
          .searchButton {
            width: 35px; 
            height: 35px;
            border-radius: 50%;
            background: #fff;
            color: #000;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-right: 10px;
          }
          
          .navLink {
            display: flex;
            align-items: center;
          }
          
          .navItem {
            text-decoration: none;
            color: #fff;
            font-weight: bold;
            padding: 0 15px; 
            transition: 0.7s all;
            margin-right: 90px;
          }
          
          .navItem:hover {
            color: #029ca6;
          }
          